# Chapter 4
#### Collection Types

In [1]:
# NUMERIC TYPES
num1 = 8     # integer variable
num2 = 4.2   # floating-point variable
num3 = 6j    # complex numeric variable
print(type(num1))
print(type(num2))
print(type(num3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [2]:
# INTEGER TYPE
num1 = 8
num2 = 1234567890987654321
num3 = -12345678
print(type(num1))
print(type(num2))
print(type(num3))

<class 'int'>
<class 'int'>
<class 'int'>

In [3]:
# FLOAT TYPE
num1 = 4.2
num2 = 2E8
num3 = -84.4e100
print(type(num1))
print(type(num2))
print(type(num3))

<class 'float'>
<class 'float'>
<class 'float'>

In [4]:
# COMPLEX TYPE
num1 = 4 + 2j
num2 = 9j
num3 = -9j
print(type(num1))
print(type(num2))
print(type(num3))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [5]:
# CONVERTING INTEGER TO FLOAT
num1 = 8
a = float(num1)
print(a)
type(a)

8.0

float

In [6]:
# CONVERTING FLOAT TO INTEGER
num2 = 2.8
b = int(num2)
print(b)
type(b)

2

int

In [7]:
# CONVERTING INTEGER TO COMPLEX
num3 = 2
c = complex(num3)
print(c)
type(c)

(2+0j)

complex

In [8]:
# RANDOM NUMBER GENERATION
import random
num1 = random.randrange(10)
num2 = random.randrange(1, 11)
num3 = random.randrange(2, 20, 2)
print("num1 = ", num1)
print("num2 = ", num2)
print("num3 = ", num3)

num1 =  3
num2 =  8
num3 =  10

In [9]:
# CREATING INTEGER VARIABLE WITH INT METHOD
num1 = int(2)
num2 = int(2.8)
num3 = int("4")
print("num1 = ", num1)
print("num2 = ", num2)
print("num3 = ", num3)

num1 =  2
num2 =  2
num3 =  4

In [10]:
# CREATING FLOAT VARIABLE WITH FLOAT METHOD
num1 = float(2)
num2 = float(2.8)
num3 = float("4")
print("num1 = ", num1)
print("num2 = ", num2)
print("num3 = ", num3)

num1 =  2.0
num2 =  2.8
num3 =  4.0

In [11]:
# SINGLE LINE AND MULTILINE STRINGS
sline = "Python programming is easy!"
mline = """Python program is easy,
but practice is the key!
Practice makes you more confident."""
print("Singleline string = ", sline)
print("Multiline string = ", mline)

Singleline string =  Python programming is easy!
Multiline string =  Python program is easy,
but practice is the key!
Practice makes you more confident.

In [12]:
# SINGLE QUOTES CAN ALSO BE USED INSTEAD OF DOUBLE QUOTES
sline = 'Python programming is easy!'
mline = '''Python program is easy,
but practice is the key!
Practice makes you more confident.'''
print("Singleline string = ", sline)
print("Multiline string = ", mline)

Singleline string =  Python programming is easy!
Multiline string =  Python program is easy,
but practice is the key!
Practice makes you more confident.

In [13]:
# CREATING STRING VARIABLE WITH STRING METHOD
str1 = str(2)
str2 = str(2.8)
str3 = str("4")
print("str1 = ", str1)
print("str2 = ", str2)
print("str3 = ", str3)

str1 =  2
str2 =  2.8
str3 =  4

In [14]:
# STRINGS ARE INDEXED
str1 = 'Python programming is easy!'
print("First character = ", str1[0])
print("Second character = ", str1[1])
print("Fifth character = ", str1[4])

First character =  P
Second character =  y
Fifth character =  o

In [15]:
# FINDING THE LENGTH OF A STRING
str1 = 'Python'
print(len(str1))

6

In [16]:
# SLICING A STRING
str1 = 'Python is easy!'
print(str1[2:6])

thon

In [17]:
# CLICING FROM BEGINNING
str1 = 'Python is easy!'
print(str1[:6])

Python

In [18]:
# SLICING TILL END
str1 = 'Python is easy!'
print(str1[10:])

easy!

In [19]:
# NEGATIVE INDEXING IN STRINGS
str1 = 'Python is easy!'
print(str1[-15:-9])

Python

In [20]:
# CONVERT STRING TO UPPERCASE
str1 = 'Python is easy!'
print(str1.upper())

PYTHON IS EASY!

In [21]:
# CONVERT STRING TO LOWERCASE
str1 = 'PYTHON IS EASY!'
print(str1.lower())

python is easy!

In [22]:
# REMOVE EXTRA WHITESPACES
str1 = '  Python   is   easy!'
print(str1.strip())

Python   is   easy!

In [23]:
# REPLACE OPERATION ON STRING
str1 = 'Python'
print("Replaced string = ", str1.replace("P","R"))
print("Original string = ", str1)

Replaced string =  Rython
Original string =  Python

In [24]:
# SPLIT OPERATION ON STRING
str1 = 'Python, is, easy!'
print(str1.split(","))

['Python', ' is', ' easy!']

In [25]:
marks = [76, 84, 67, 92, 83]
print(marks)

[76, 84, 67, 92, 83]

In [26]:
colors = ('RED', 'GREEN', 'BLUE', 'YELLOW')
print(colors)
print(type(colors))

('RED', 'GREEN', 'BLUE', 'YELLOW')
<class 'tuple'>

In [27]:
color1 = ('RED')
print(type(color1))
color2 = ('RED',)
print(type(color2))

<class 'str'>
<class 'tuple'>

In [28]:
flowers = 'Rose', 'Lily', 'Lotus', 'Jasmine'
print(type(flowers))

<class 'tuple'>

In [29]:
vovels = {'a','e', 'i', 'o', 'u'}
print(type(vovels))

<class 'set'>

In [30]:
# STUDENT LIST
student = ['Aman', 21, True, 'male', 75]
print(student)

# LIST SUPPORTS MODIFICATION OF OBJECTS / LISTS ARE MUTABLE
student.append('Bengaluru')
print(student)

['Aman', 21, True, 'male', 75]
['Aman', 21, True, 'male', 75, 'Bengaluru']

In [31]:
# STUDENT TUPLE
student = ('Aman', 21, True, 'male', 75)
print(student)

# TUPLES ARE IMMUTABLE AND THROWS ERROR WHEN WE TRY TO MODIFY
student.append('Bengaluru')

('Aman', 21, True, 'male', 75)

AttributeError: 'tuple' object has no attribute 'append'

In [32]:
# SET EXAMPLE
vovels = {'a', 'e', 'i', 'o', 'a', 'u', 'o'}
print(vovels) # set removes duplicate values

{'u', 'o', 'a', 'e', 'i'}

In [33]:
# CREATING A DICTIONARY
car = {'Company': 'Honda', 'Model': 'City', 'Year': '2014', 'Colors': ['red', 'white', 'silver']}
print(car)

{'Company': 'Honda', 'Model': 'City', 'Year': '2014', 'Colors': ['red', 'white', 'silver']}

In [34]:
# Create a list
color = ['red', 'green', 'blue', 'yellow']

# Display the complete list 
print("color = ", color)

# Display each element using its index 
print("color[0] = ", color[0]) 
print("color[1] = ", color[1])
print("color[2] = ", color [2])
print("color[3] = ", color[3])

# Display elements using negative indexing 
print("color[-1] = ", color[-1])
print("color[-2]= ", color[-2])
print("color[-3] = ", color[-3]) 
print("color[-4] = ", color[-4])

color =  ['red', 'green', 'blue', 'yellow']
color[0] =  red
color[1] =  green
color[2] =  blue
color[3] =  yellow
color[-1] =  yellow
color[-2]=  blue
color[-3] =  green
color[-4] =  red

In [35]:
# Any value other than actual index value will result in "out of bound exception" 
print("color[4] = ", color[4])

IndexError: list index out of range

In [36]:
# Create a list
color = ['red', 'green', 'blue', 'yellow']

# Display the complete list 
print("color = ", color)

# Add an element to the list
color.append('orange')

# Display the complete list
print("\n After adding an element..")
print("color = ", color)

# Remove an element from the list
color.remove('red')

# Display the complete list
print("\n After removing an elenemt..")
print("color = ", color)

color =  ['red', 'green', 'blue', 'yellow']

 After adding an element..
color =  ['red', 'green', 'blue', 'yellow', 'orange']

 After removing an elenemt..
color =  ['green', 'blue', 'yellow', 'orange']

In [37]:
# Create a list
color = ['red', 'green', 'blue', 'yellow', 'green', 'blue']

# Display the complete list
print("color = ", color)

color =  ['red', 'green', 'blue', 'yellow', 'green', 'blue']

In [38]:
# Create a list
color = ['red', 'green', 'blue', 'yellow']

# Display the complete list
print("color = ", color)
print("length = ", len(color))

color =  ['red', 'green', 'blue', 'yellow']
length =  4

In [39]:
# Create a list
color = ['red', 'green', 'blue', 'yellow']
numbers = [23, 43, 54, 67, 84]
bool_values = [True, False, True, True]

# Display the values
print("color = ", color)
print("numbers = ", numbers)
print("bool_values = ", bool_values)

color =  ['red', 'green', 'blue', 'yellow']
numbers =  [23, 43, 54, 67, 84]
bool_values =  [True, False, True, True]

In [40]:
# Create a list
color = ['red', 'green', 'blue', 'yellow']

# Display the complete list
print("color = ", color)

color =  ['red', 'green', 'blue', 'yellow']

In [41]:
# Create a list
color = list(('red', 'green', 'blue', 'yellow', 'pink', 'purple', 'grey', 'black'))

# Display third to sixth elements
print("color = ", color[2:6])

# Display all the elements from fourth
print("color = ", color[3:])

# Display all the elements till fifth
print("color = ", color[:5])

color =  ['blue', 'yellow', 'pink', 'purple']
color =  ['yellow', 'pink', 'purple', 'grey', 'black']
color =  ['red', 'green', 'blue', 'yellow', 'pink']

In [42]:
# Create a list
color = list(('red', 'green', 'blue', 'yellow'))

# Display the list
print("\nOriginal list.. \ncolor = ", color)

# Replace an item
color[1] = 'orange'

# Display the list after replacing an item
print("\nAfter replacing.. \ncolor = ", color)

Original list..
color =  ['red', 'green', 'blue', 'yellow']

After replacing..
color =  ['red', 'orange', 'blue', 'yellow']

In [43]:
# Create a list
color = list(('red', 'green', 'blue', 'yellow'))

# Display the list
print("\nOriginal list.. \ncolor = ", color)

# Insert an item
color.insert(2, 'orange')

# Display the list after inserting an item
print("\nAfter inserting.. \ncolor = ", color)

Original list..
color =  ['red', 'green', 'blue', 'yellow']

After inserting..
color =  ['red', 'green', 'orange', 'blue', 'yellow']

In [44]:
# Create a list
color = list(('red', 'green', 'blue', 'yellow'))

# Display the list
print("\nOriginal list.. \ncolor = ", color)

# Append an item
color.append('orange')

# Display the list after appending an item
print("\nAfter appending.. \ncolor = ", color)

Original list..
color =  ['red', 'green', 'blue', 'yellow']

After appending..
color =  ['red', 'green', 'blue', 'yellow', 'orange']

In [45]:
# Create a list
color1 = list(('red', 'green', 'blue', 'yellow'))
color2 = list(('black', 'brown', 'grey', 'pink'))

# Display the list
print("color1 = ", color1)
print("color2 = ", color2)

# Append color2 to color1
color1.append(color2)

# Display the list after appending
print("color1 = ", color1)
print("color2 = ", color2)

color1 =  ['red', 'green', 'blue', 'yellow']
color2 =  ['black', 'brown', 'grey', 'pink']
color1 =  ['red', 'green', 'blue', 'yellow', ['black', 'brown', 'grey', 'pink']]
color2 =  ['black', 'brown', 'grey', 'pink']

In [46]:
# Create a list
color = list(('red', 'green', 'blue', 'yellow'))

# Display the list
print("\nOriginal list.. \ncolor = ", color)

# Delete an item
color.remove('blue')

# Display the list after deleting an item
print("\nAfter deleting blue.. \ncolor = ", color)

Original list..
color =  ['red', 'green', 'blue', 'yellow']

After deleting blue..
color =  ['red', 'green', 'yellow']

In [47]:
# Create a list
color = list(('red', 'green', 'blue', 'yellow'))

# Display the list
print("\nOriginal list.. \ncolor = ", color)

# Clear the list
color.clear()

# Display the list after clear()
print("\nAfter calling color.clear().. \ncolor = ", color)

Original list..
color =  ['red', 'green', 'blue', 'yellow']

After calling color.clear()..
color =  []

In [48]:
# Create a tuple
color = ('red', 'green', 'blue', 'yellow')

# Display the complete tuple
print("color = ", color)
print("type = ", type(color))

# Display each element using its index
print("\ncolor[0] = ", color[0])
print("color[1] = ", color[1])
print("color[2] = ", color[2])
print("color[3] = ", color[3])

# Display elements using negative indexing
print("\ncolor[-1] = ", color[-1])
print("color[-2] = ", color[-2])
print("color[-3] = ", color[-3])
print("color[-4] = ", color[-4])

color =  ('red', 'green', 'blue', 'yellow')
type =  <class 'tuple'>

color[0] =  red
color[1] =  green
color[2] =  blue
color[3] =  yellow

color[-1] =  yellow
color[-2] =  blue
color[-3] =  green
color[-4] =  red

In [49]:
# Create a tuple
color = ('red', 'green', 'blue', 'yellow')

# Display the complete tuple
print("color = ", color)
print("type = ", type(color))

# Trying to add an element to the tuple
color.append('orange')

color =  ('red', 'green', 'blue', 'yellow')
type =  <class 'tuple'>

AttributeError: 'tuple' object has no attribute 'append'

In [50]:
# Create a tuple
color = ('red', 'green', 'blue', 'yellow')

# Display the complete tuple
print("color = ", color)
print("type = ", type(color))

# Trying to remove an element from the tuple
color.remove('red')

color =  ('red', 'green', 'blue', 'yellow')
type =  <class 'tuple'>

AttributeError: 'tuple' object has no attribute 'remove'

In [51]:
# Create a tuple
color = ('red', 'green', 'blue', 'yellow', 'blue', 'green')

# Display the complete tuple
print("color = ", color)
print("type = ", type(color))

color =  ('red', 'green', 'blue', 'yellow', 'blue', 'green')
type =  <class 'tuple'>

In [52]:
# Create a tuple
color = ('red', 'green', 'blue', 'yellow', 'blue', 'green')

# Display the complete tuple
print("color = ", color)
print("type = ", type(color))
print("length = ", len(color))

color =  ('red', 'green', 'blue', 'yellow', 'blue', 'green')
type =  <class 'tuple'>
length =  6

In [53]:
# Create a tuple
color = ('red', 'green', 'blue', 'yellow')
numbers = (23, 43, 54, 67, 84)
bool_values = (True, False, True, True)

# Display the complete tuple
print("color = ", color)
print("numbers = ", numbers)
print("bool_values = ", bool_values)

color =  ('red', 'green', 'blue', 'yellow')
numbers =  (23, 43, 54, 67, 84)
bool_values =  (True, False, True, True)

In [54]:
# Create a tuple
color = tuple(('red', 'green', 'blue', 'yellow'))

# Display the complete tuple
print("color = ", color)

color =  ('red', 'green', 'blue', 'yellow')

In [55]:
# Create a tuple
color = tuple(('red', 'green', 'blue', 'yellow', 'pink', 'purple', 'grey', 'black'))

# Display third to sixth elements
print("color = ", color[2:6])

# Display all the elements from fourth
print("color = ", color[3:])

# Display all the elements till fifth
print("color = ", color[:5])

color =  ('blue', 'yellow', 'pink', 'purple')
color =  ('yellow', 'pink', 'purple', 'grey', 'black')
color =  ('red', 'green', 'blue', 'yellow', 'pink')

In [56]:
# Create a set
fruits = {'apple', 'orange', 'grapes', 'banana'}

# Display the complete set
print("fruits = ", fruits)
print("type = ", type(fruits))

fruits =  {'grapes', 'orange', 'banana', 'apple'}
type =  <class 'set'>

In [57]:
# Create a set
fruits = {'apple', 'orange', 'grapes', 'banana', 'orange', 'grapes', 'banana'}

# Display the complete set
print("fruits = ", fruits)
print("type = ", type(fruits))

fruits =  {'grapes', 'orange', 'banana', 'apple'}
type =  <class 'set'>

In [58]:
# Create a set
fruits = {'apple', 'orange', 'grapes', True, False, 1, 2}

# Display the complete set
print("fruits = ", fruits)
print("type = ", type(fruits))

fruits =  {False, True, 2, 'apple', 'grapes', 'orange'}
type =  <class 'set'>

In [59]:
# Create a set
fruits = {'apple', 'orange', 'grapes', True, False, 0, 1, 2}

# Display the complete set
print("fruits = ", fruits)
print("type = ", type(fruits))
print("len = ", len(fruits))

fruits =  {False, True, 2, 'apple', 'grapes', 'orange'}
type =  <class 'set'>
len =  6

In [60]:
# Create a set
fruits = set(('apple', 'orange', 'grapes'))

# Display the complete set
print("fruits = ", fruits)
print("type = ", type(fruits))
print("len = ", len(fruits))

fruits =  {'grapes', 'orange', 'apple'}
type =  <class 'set'>
len =  3

In [61]:
# Create a set
fruits = {'apple', 'orange', 'grapes'}

# Display the complete set
print("fruits = ", fruits)

# Add an element using add() method
fruits.add("pineapple")

# Display after adding an element
print("fruits = ", fruits)

fruits =  {'grapes', 'orange', 'apple'}
fruits =  {'grapes', 'pineapple', 'orange', 'apple'}

In [62]:
# Create a set
fruits = {'apple', 'orange', 'grapes'}
veg = {'potato', 'tomato', 'carrot'}

# Display the complete set
print("\nfruits = ", fruits)
print("veg = ", veg)

# Add the contents of veg to fruits using update() method
fruits.update(veg)

# Display after adding 
print("\nfruits = ", fruits)
print("veg = ", veg)

fruits =  {'grapes', 'orange', 'apple'}
veg =  {'carrot', 'potato', 'tomato'}

fruits =  {'carrot', 'potato', 'apple', 'grapes', 'tomato', 'orange'}
veg =  {'carrot', 'potato', 'tomato'}

In [63]:
# Create a set
fruits = {'apple', 'orange', 'grapes', 'pineapple'}

# Display the complete set
print("\nfruits = ", fruits)

# Remove an element using remove() method
fruits.remove("pineapple")

# Remove an element using discard() method
fruits.remove("orange")

# Display after removing pineapple and orange
print("\nfruits = ", fruits)

fruits =  {'grapes', 'pineapple', 'orange', 'apple'}

fruits =  {'grapes', 'apple'}

In [64]:
# Create a dictionary
fruits = {'apple': 250, 'orange': 120, 'grapes': 85, 'pineapple': 45}

# Display the complete dictionary
print("\nfruits = ", fruits)
print("type = ", type(fruits))

fruits =  {'apple': 250, 'orange': 120, 'grapes': 85, 'pineapple': 45}
type =  <class 'dict'>

In [65]:
# Create a dictionary
fruits = {'apple': 250, 'orange': 120, 'grapes': 85, 'banana': 45}

# Display the complete dictionary
print("\nApple's price = ", fruits['apple'])
print("Banana's price = ", fruits['banana'])

Apple's price =  250
Banana's price =  45

In [66]:
# Create a dictionary
fruits = {'apple': 250, 'orange': 120, 'grapes': 85, 'banana': 45, 'banana': 58}

# Display the complete dictionary
print("\nfruits = ", fruits)

fruits =  {'apple': 250, 'orange': 120, 'grapes': 85, 'banana': 58}

In [67]:
# Create a dictionary
fruits = {'apple': 250, 'orange': 120, 'grapes': 85, 'banana': 45}

# Display the complete dictionary
print("\nfruits = ", fruits)
print("type = ", type(fruits))

fruits =  {'apple': 250, 'orange': 120, 'grapes': 85, 'banana': 45}
type =  <class 'dict'>

In [68]:
# Create a dictionary
car = {'Company': 'Hyundai',
       'Model': 'Verna',
       'Year': 2020,
       'colors': ['red', 'blue', 'silver']}

# Display the complete dictionary
print("\ncar= ", car)
print("len = ", len(car))

car=  {'Company': 'Hyundai', 'Model': 'Verna', 'Year': 2020, 'colors': ['red', 'blue', 'silver']}
len =  4

In [69]:
# Create a dictionary
fruits = dict(apple = 250, orange = 120, grapes = 85, banana = 45)

# Display the complete dictionary
print("\nfruits = ", fruits)

fruits =  {'apple': 250, 'orange': 120, 'grapes': 85, 'banana': 45}

In [70]:
# Create a dictionary
fruits = {'apple': 250, 'orange': 120, 'grapes': 85, 'banana': 45}

# Display the complete dictionary
print("\nApple's price = ", fruits['apple'])
print("\nApple's price = ", fruits.get('apple'))

Apple's price =  250

Apple's price =  250

In [71]:
# Create a dictionary
fruits = {'apple': 250, 'orange': 120, 'grapes': 85, 'banana': 45}

# Display the Keys
print("\nKeys = ", fruits.keys())

Keys =  dict_keys(['apple', 'orange', 'grapes', 'banana'])

In [72]:
# Create a dictionary
fruits = {'apple': 250, 'orange': 120, 'grapes': 85, 'banana': 45}

# Display the values
print("\nValues = ", fruits.values())

Values =  dict_values([250, 120, 85, 45])

In [73]:
# Create a dictionary
fruits = {'apple': 250, 'orange': 120, 'grapes': 85, 'banana': 45}

# Display the Key-value pairs
print("\nKey-value pairs = ", fruits.items())

Key-value pairs =  dict_items([('apple', 250), ('orange', 120), ('grapes', 85), ('banana', 45)])

In [74]:
# Create a dictionary
fruits = {'apple': 250, 'orange': 120, 'grapes': 85, 'banana': 45}

# Display the complete dictionary
print("\nfruits = ", fruits)

# Modify the dictionary
fruits['orange'] = 140
fruits.update({'banana': 60})

# Display the complete dictionary after modification
print("\nfruits after miodification = ", fruits)

fruits =  {'apple': 250, 'orange': 120, 'grapes': 85, 'banana': 45}

fruits after miodification =  {'apple': 250, 'orange': 140, 'grapes': 85, 'banana': 60}

In [75]:
# STRING
str1 = 'Python is easy!'

# try in and not in operators
print('Python' in str1)
print('Python' not in str1)

True
False

In [76]:
# LIST
list1 = [10, 20, 30, 40, 50]

# try in and not in operators
print(40 in list1)
print(40 not in list1)

True
False

In [77]:
# DICTIONARY
dict1 = {'A':10, 'B':20, 'C':30, 'D':40}

# try in and not in operators
print('A' in dict1)
print('A' in dict1.keys())
print(40 in dict1.values())
print(('A', 10) in dict1.items())

print('A' not in dict1)
print('A' not in dict1.keys())
print(40 not in dict1.values())
print(('A', 10) not in dict1.items())

True
True
True
True
False
False
False
False

In [78]:
# RANGE FUNCTION IN PYTHON

# creates a list of 10 elements starting from 0
a = list(range(10))
print('a = ', a)

# creates a list of values from 1 to 10 excluding 10
b = list(range(1, 10))
print('b = ', b)

# creates a list of values starting from 0 till 50 with a step count of 2
c = list(range(0, 50, 2))
print('c = ', c)

a =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b =  [1, 2, 3, 4, 5, 6, 7, 8, 9]
c =  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [79]:
# IN OPERATOR IN RANGE
a = range(10)
print(a)
print(5 in a)
print(5 not in a)

range(0, 10)
True
False